apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: sealed-secrets
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "0"
spec:
  project: default
  source:
    repoURL: https://bitnami-labs.github.io/sealed-secrets
    targetRevision: 2.*
    chart: sealed-secrets
    helm:
      valueFiles:
        - $values/infra/k8s/apps/sealed-secrets/values/dev.yaml
  sources:
    - repoURL: "https://github.com/Radball-Migi/HF-ITCNE24-SemArbeit4-LicenseMonitor-K8s"
      targetRevision: "infra-argocd"
      ref: values
  destination:
    server: https://kubernetes.default.svc
    namespace: kube-system
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
